@import "tailwindcss";

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.dropdown-store:not(.hidden),
.dropdown-Mac:not(.hidden) {
  animation: fadeIn 0.2s ease-out forwards;
}

.menu-btn {
  width: 18px;
  height: 18px;
  position: relative;
  cursor: pointer;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.line {
  width: 100%;
  height: 1.2px;
  background-color: #1d1d1f;
  position: absolute;
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1),
    top 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.line-1 {
  top: 5px;
}
.line-2 {
  top: 12px;
}
.line-3 {
  top: 19px;
}

.menu-active .line-1 {
  transform: rotate(45deg);
  top: 9px;
}
.menu-active .line-2 {
  transform: rotate(-45deg);
  top: 9px;
}
.menu-active .line-3 {
  opacity: 0;
}

#mobile-menu-overlay {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}
#mobile-menu-overlay.open {
  transform: translateY(0);
}
